        @import "vars";
        * {
            margin: 0;
            padding: 0;
        }
        
        summary {
            display: block;
        }
        
        summary::-webkit-details-marker {
            display: none;
        }
        
        body {
            font-family: 'Lato', sans-serif;
        }
        
        a {
            cursor: pointer;
            text-decoration: none;
        }
        
        img {
            max-width: 100%;
        }
        
        .center {
            padding-left: calc(50% - $width_content_site / 2);
            padding-right: calc(50% - $width_content_site / 2);
        }
        
        .header {
            position: relative;
            &__nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 18px;
                padding-bottom: 16px;
                background: #222222;
            }
            &__left {
                display: flex;
                align-items: flex-end;
                gap: 41px;
            }
            &__right {
                display: flex;
                align-items: flex-end;
                gap: 33px;
            }
        }
        
        .breadcrumbs {
            min-height: 148px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f8f3f4;
            &__title {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $purple_color_text;
            }
            &__menu {
                display: flex;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #636363;
            }
            &__menu_gray {
                color: #636363;
            }
            &__menu_gray:not(:last-child):after {
                content: '/';
                color: #636363;
            }
            &__menu_gray:last-child {
                color: $purple_color_text;
            }
            &__menu_gray:hover {
                color: $purple_color_text;
            }
        }
        
        .info {
            display: flex;
            flex-direction: column;
            gap: 128px;
            &__list {
                padding-top: 21px;
                padding-left: 28px;
            }
            &__text {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                padding-bottom: 22px;
            }
            &__text_list {
                padding-bottom: 16px;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                list-style-image: url(img/reg-list.svg);
                padding-left: 22px;
            }
        }
        
        .registration-content {
            padding-top: 64px;
            padding-bottom: 96px;
            display: flex;
            gap: 128px;
        }
        
        .registration {
            display: flex;
            flex-direction: row;
            gap: 128px;
            &__product {
                width: 652px;
                display: flex;
                box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
            }
            &__buttons {
                margin-top: 72px;
                display: flex;
                gap: 192px;
            }
            &__button {
                font-family: 'Lato';
                padding: 17px 39px;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 17px;
                color: #000000;
                border: 1px solid #a4a4a4;
                background-color: #fff;
            }
            &__img {
                display: block;
            }
            &__descript {
                padding: 22px 22px 62px 31px;
            }
            &__name {
                margin-bottom: 42px;
                display: flex;
                gap: 57px;
            }
            &__link {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
            }
            &__remove-button {
                height: max-content;
                background: none;
                border: none;
            }
            &__attribut {
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #575757;
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
            &__attribut_price {
                color: $purple_color_text;
            }
            &__attribut_input-box {
                display: flex;
                gap: 24px;
            }
            &__attribut_input {
                width: 44px;
                text-align: right;
                border: 1px solid #EAEAEA;
            }
        }
        
        .order-box {
            padding-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 57px;
            &__adress {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            &__adress_label {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
            &__adress_input {
                width: 360px;
                box-sizing: border-box;
                padding-top: 13px;
                padding-bottom: 16px;
                padding-left: 17px;
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                border: 1px solid #A4A4A4;
            }
            &__adress_input::placeholder {
                color: #B1B1B1;
            }
            &__adress_button {
                width: 167px;
                padding: 16px 29px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                background-color: $purple_color_text;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            &__total {
                padding: 39px 43px 42px 43px;
                background: #F5F5F5;
            }
            &__total_space {
                display: flex;
                gap: 25px;
                justify-content: flex-end;
            }
            &__total_subtotal {
                margin-bottom: 12px;
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
            }
            &__total_grandtotal {
                margin-bottom: 21px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
            &__total_grandprice {
                color: $purple_color_text;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
            }
            &__total_line {
                margin-bottom: 17px;
                border-bottom: 1px solid #E2E2E2;
            }
            &__total_button {
                padding: 15px 42px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                border: none;
                background-color: $purple_color_text;
            }
            &__text {
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                padding-top: 15px;
            }
        }
        
        .subscription {
            background: url(img/background.svg);
            background-repeat: repeat;
            background-size: cover;
            padding-top: 87px;
            padding-bottom: 162px;
            &__content {
                display: flex;
                justify-content: center;
                gap: 224px;
            }
        }
        
        .feedback {
            width: 360px;
            text-align: center;
            &__text {
                margin-top: 30px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
            &__text_italic {
                font-style: italic;
            }
        }
        
        .subscribe {
            text-align: center;
            width: 557px;
            padding-top: 63px;
            &__title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
                color: #222224;
            }
            &__title_text {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #222224;
            }
            &__email {
                padding-left: 22px;
                padding-right: 64px;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border: none;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #222224;
                background: #e1e1e1;
                min-height: 49px;
            }
            &__button {
                margin-top: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__button_toch {
                padding-left: 19px;
                padding-right: 19px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border: none;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                background: $purple_color_text;
                min-height: 49px;
            }
            &__button_toch:hover {
                background-color: #535353;
                color: $purple_color_text;
            }
        }
        
        .footer {
            background: #222224;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .copyright {
            margin-top: 30px;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #fbfbfb;
        }
        
        .media_icons {
            display: flex;
            gap: 8px;
        }
        
        .icon {
            background: #ffffff;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: $purple_color_text;
            }
            &:hover path {
                fill: #ffffff;
            }
        }
        
        .check-box {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        /* для элемента input c type="radio" */
        
        .custom-radio {
            position: relative;
            display: flex;
            flex-direction: row;
        }
        
        .custom-radio>input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        /* для элемента label связанного с .custom-radio */
        
        .custom-radio>span {
            display: inline-flex;
            gap: 10px;
            align-items: center;
            user-select: none;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
        }
        /* создание в label псевдоэлемента  before со следующими стилями */
        
        .custom-radio>span::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        /* стили при наведении курсора на радио */
        
        .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
            border-color: $purple_color_text;
        }
        /* стили для активной радиокнопки (при нажатии на неё) */
        
        .custom-radio>input:not(:disabled):active+span::before {
            background-color: #4d4d4d;
            border-color: #4d4d4d;
        }
        /* стили для радиокнопки, находящейся в фокусе */
        
        .custom-radio>input:focus+span::before {
            box-shadow: 0 0 0 0.2rem rgba(255, 196, 228, 0.25);
        }
        /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
        
        .custom-radio>input:focus:not(:checked)+span::before {
            border-color: #777777;
        }
        /* стили для радиокнопки, находящейся в состоянии checked */
        
        .custom-radio>input:checked+span::before {
            border-color: $purple_color_text;
            background-color: $purple_color_text;
        }
        /* стили для радиокнопки, находящейся в состоянии disabled */
        
        .custom-radio>input:disabled+span::before {
            background-color: #e9ecef;
        }